/* Estilos para resolução 1080x1920 */
.div-main {
  background-image: url('../../public/restscreen1.png');
  background-size: cover;
  background-position: center;
  aspect-ratio: 9 / 16;
  padding-top: 100%;
  padding-bottom: 5%;
  cursor: pointer;
  font-family: 'Monday';
  align-items: center;
  text-align: center;
  color: white;
}

.h3-intern {
  font-size: 3rem;
  font-weight: 300;
  color: white;
}

.h2-intern {
  font-size: 3.5rem;
  text-align: center;
  line-height: 1.2;
  font-weight: 300;
  color: #ffc107;
}

.drink-image {
  max-width: 600px;
  height: auto;
  margin-top: 3rem;
}


@media (min-width: 2000px) {
  .h3-intern {
    font-size: 6rem;
  }
  .h2-intern {
    font-size: 7rem;
  }
  .drink-image {
    max-width: 1200px;
    height: auto;
    margin-top: 3rem;
  }
}