.div-geral {
    width: 100vw; /* Largura total da viewport */
    height: 100vh; /* Altura total da viewport */
    display: flex; /* Ativa o Flexbox */
    flex-direction: column; /* Direção em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: flex-start; /* Alinhamento ao topo */
    text-align: center; /* Centraliza o texto */
    background-color: #343a40; /* Cor de fundo escura */
    position: relative; /* Necessário para posicionamento absoluto do botão */
}

.btn-jogar {
    font-size: 10rem; /* Tamanho do texto */
    font-weight: 300;
    border-radius: 0.375rem; /* Borda arredondada */
    padding: 2rem 6rem; /* Aumentado o espaçamento interno para mais distância do texto à borda */
    box-shadow: 0px 4px 6px rgba(31, 31, 31, 0.1); /* Sombra padrão Bootstrap */
    background-color: #001522; /* Cor de fundo do botão */
    color: #ffc107; /* Cor do texto */
    border: 4px solid #ffc107; /* Borda visível */
    position: absolute; /* Posicionamento absoluto */
    top: 66.66%; /* 2/3 da altura da página */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta perfeitamente o centro do botão */
}

/* Removido o efeito de transição */
.btn-jogar:active {
    background-color: #000000;
    color: #d4a307;
    border-color: #d4a307;
    box-shadow: 0px 2px 4px rgba(31, 31, 31, 0.5);
}


/* Ajuste para telas maiores */
@media (min-width: 2000px) {
    .btn-jogar {
        font-size: 20rem;
        padding: 4rem 10rem; /* Mais espaçamento interno para telas grandes */
    }
}
